<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646226096539-p5fb0v7a672tdoossn0miio55onjhon8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646226096539-p5fb0v7a672tdoossn0miio55onjhon8</string>
	<key>API_KEY</key>
	<string>AIzaSyAqAx5IBrmgLeYlluV2upetQA6zsezgNIE</string>
	<key>GCM_SENDER_ID</key>
	<string>646226096539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anmol.minionlogin</string>
	<key>PROJECT_ID</key>
	<string>my-minion-ed05e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-minion-ed05e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646226096539:ios:2d3513a3ed34bb2a47313e</string>
</dict>
</plist>